
// color var 

$firstcolor: #26282b;
$shadowDark: #212325;
$shadowlight: #2f3134;
$whit : #c5c9d1;
$lightblack: #848b96;
$blueColor :#116ae0;


// font var 
$l-font : 18px;
$s-font : 15px;
$i-font : 30px;


$rounded: 15px;